<div class="row" id='lead'>
  <div class="container">
    <div class='col-xs-12 col-sm-12 col-md-6'>
      <%= image_tag("mip_logo.jpg", size: '920x200', class: 'img-responsive img-rounded img-thumbnail center') %>
    </div>
    <div class='col-xs-12 col-sm-12 col-md-6'>
      <p id='tagline'>Owner Mark Centola has over 30 years of painting experience and has been providing quality and affordable painting to Massachusetts and New Hampshire for <em>11</em> years!
      </p>
      <p id='motto' class='center'>Whether it's a wall or a mall, we'll paint it all!
      </p>
    </div>
  </div>
</div>

<div id="services" class="scroll-buffer"> </div>
<div class="center">
  <div class="services-bar">
    <h1 class='title'>Services</h1>
    <p>( Residential - Commercial - Industrial )</p>
  </div>
  <div class='row'>
    <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>
      <div class="list-group">
        <a href="#" class="list-group-item active">Interior Painting</a>
        <a href="#" class="list-group-item">Walls</a>
        <a href="#" class="list-group-item">Accents</a>
        <a href="#" class="list-group-item">Ceilings</a>
        <a href="#" class="list-group-item">Trim</a>
      </div>
    </div>
    <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>
      <div class="list-group">
        <a href="#" class="list-group-item active">Exterior Painting</a>
        <a href="#" class="list-group-item">Siding</a>
        <a href="#" class="list-group-item">Trim</a>
        <a href="#" class="list-group-item">Decks (including powerwashing)</a>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6'>
      <div class="list-group">
        <a href="#" class="list-group-item active">Prep and Miscellaneous</a>
        <a href="#" class="list-group-item">Wall Cleaning</a>
        <a href="#" class="list-group-item">Wall Paper Removal</a>
        <a href="#" class="list-group-item">Wall/Ceiling Repair</a>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6 col-md-6 col-lg-6'>
      <div class="list-group">
        <a href="#" class="list-group-item active">Options</a>
        <a href="#" class="list-group-item">Brush, Roller, or Spraying</a>
        <a href="#" class="list-group-item">Night Painting Available</a>
      </div>
    </div>
    <div class='col-xs-12 col-md-12 col-lg-4 jumbotron'>
      <h3>From a wall to a mall, we do it all!</h3>
      <p>
      <strong id='estimate' class='free-estimates btn btn-success'>Free Estimates!<br /></strong>
      </p>
    </div>
  </div>
</div>

<div id="testimonials" class="scroll-buffer"> </div>
<div class="center">
  <div class="testimonial-bar">
    <h1 class='title'>Testimonials</h1>
    <p>( What our customers are saying! )</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <blockquote>
          <p>Mark did a great job painting my daughter's nursery! Mark is professional, affordable and does a wonderful job. I couldn't be happier with how the room turned out!</p>
          <footer>Stephanie Brooks</footer>
        </blockquote> 
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6">
        <blockquote>
          <p>We have used Mark's Interior painting several times to do work on our home. Mark has always done a great job and is very fair and reasonable. We have recommended him our friends to do their places and they too were very pleased with my referral. Good work and customer satisfaction is what it all about and how you build a great service business! Mark hits all the 'Marks' for a 'Five Star' rating in my book!</p>
          <footer>John M. Sullivan</footer>
        </blockquote> 
      </div>
    </div>
  </div>
</div>

<div id="gallery" class="scroll-buffer"> </div>
<div class="center">
  <div class="gallery-bar">
    <h1 class='title'>Gallery</h1>
    <p>( Recently Completed Work )</p>
  </div> 
  <div class="galleria img-responsive center"> 
    <%= image_tag("mip1.jpg", :title => "Painting a Ceiling", :alt => "Mark and Mike paint a ceiling") %>
    <%= image_tag("mip2.jpg", title: "MIP2") %>
  </div>
</div>

<div class="scroll-buffer" id="contact"> </div>
<div class="center">
  <div class="contact-bar">
    <h1 class='title'>Contact Us</h1>
    <p>( Call for a free consultation and estimate! )</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Please give us a call at <a href="tel:1-617-968-4000"><%= fa_icon "phone" %>&nbsp;1-617-968-4000</a> to schedule a free consultation and estimate.</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"> 
Galleria.loadAssetTheme('assets/galleria/themes/classic/galleria.classic.min.js');
$('.galleria').galleria({
});
Galleria.configure({
  theme: 'classic',
  imageCrop: true,
  autoplay: 2500,
  lightbox: true,
  responsive: true,
  transition: 'fade',
  transitionSpeed: 500,
  thumbCrop: 'height',
  idleMode: 'hover',
  idleSpeed: 500,
  fullscreenTransition: true
});
Galleria.run('.galleria');
</script>
