<% if current_admin.try(:admin?) %>
  <h1>Settings</h1>

  <p><%= link_to "Photos", photos_path, class: 'btn btn-primary' %></p>
  <p>Testimonials</p>
<% else %>
  <% if current_admin %>
    <p>You are logged in but have no adminstrative rights.</p>
    <p>Please contact <a href="mailto:snyder@marksinteriorpainting.com?subject=Admin">Sean Snyder</a> for Admin access.</p>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <p><%= link_to('Login', login_path ) %></p>
  <% end %>
<% end %>
