/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require galleria.classic
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background-color: #E7853F;
  padding-top: 50px;
  font-family: Raleway;
}

#tagline {
  font-size: 1.60em;
}

#lead {
  margin: 35px 0 0 0;
}

.title {
  font-size: 4.9em;
  letter-spacing: 3px;
}

#intro {
  font-weight: bold;
}

.center {
  text-align: center;
}

.free-estimates {
  color: green;
  font-size: 2em;
}

.galleria {
  width: 1900px;
  height: 532px;
  text-align: center;
}

.galleria-frame {
  background-color: red !important;
}

.navbar-inverse {
  background-color: #CA651B;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
  font-size:      1.6em;
}

.navbar-nav > li > a, .navbar-brand {
  font-family: 'Amatic SC', Raleway;
  font-size: 3em;
  padding-bottom:0 !important;
  height: 30px;
  color: white !important;
}

.navbar-nav {
  float: right;
}

#phone {
  padding-right: 10px;
}

#page-backing {
  background-color: white;
}

.services-bar, .gallery-bar, .testimonial-bar, .contact-bar {
  color: white;
  background-color: #448B9F;
  margin-bottom: 20px;
  padding: 2px;
  border-radius: 10px;
  h1 {
    color: #FFA500;
    font-family: 'Amatic SC', Raleway;
    font-weight: bold;
  }

  p {
    color: antiquewhite;
  }
}

.scroll-buffer {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    float: left;
  }
}


