/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require galleria.classic
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 90px;
  font-family: Raleway;
}

#title {
}

#intro {
  font-weight: bold;
}

.center {
  text-align: center;
}

.free-estimates {
  color: green;
  font-size: 2em;
}

.galleria {
  width: 1900px;
  height: 532px;
  text-align: center;
}

.navbar-brand {
  display: flex;
  font-family: Lobster;
  font-size: 1.1em;
  letter-spacing: 3px;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
  font-size:      1.0em;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top:5px !important;
  padding-bottom:0 !important;
  height: 30px;
  color: white !important;
}

.navbar {
  min-height:30px !important;
}

.navbar-nav {
  float: right;
}

#phone {
  padding-right: 10px;
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    float: left;
  }
}


