<div class="row">
  <div class="container">
    <div class="col-xs-12" id='edit_testimonial_form'>
      <h1>Edit Testimonial</h1>
      <%= render 'form' %>
      <br />
      <%= link_to "Cancel Edit", testimonials_path, class: 'btn btn-danger', id: 'cancel-testimonial-edit' %>
    </div>

  </div>
</div>
